<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
</head>
<body>

<h2>게시글 작성</h2>
<form action="/api/posts" method="post">
    제목: <input type="text" name="title"><br>
    작성자명: <input type="text" name="author"><br>
    비밀번호: <input type="password" name="password"><br>
    작성 내용:<br>
    <textarea name="content"></textarea><br>
    <input type="submit" value="작성하기">
</form>

<h2>게시글 목록</h2>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>작성자명</th>
        <th>작성일</th>
        <th>조회</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="post : ${posts}">
        <td th:text="${post.title}"></td>
        <td th:text="${post.author}"></td>
        <td th:text="${post.creationTime}"></td>
        <td><a th:href="'/posts/' + ${post.id}">조회</a></td>
    </tr>
    </tbody>
</table>



</body>
</html>
